/*
Projet: MINISITE
JUIN 2017
HILLEWAERT Daniel
*/

/*  A faire: DéPLACER LES Transitions!!!!!  */

/*    BALISES GENERALES    */
.bloc_end{
    background-color: #94DFFA;
    margin: 5px;
    padding: 15px;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: #323232;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url("../img/bcg.jpg");
    padding: 10px;
}

/*  -----NAV-----  */
nav div{
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
}
nav img{
    position: absolute;
    top: -30px;
}

nav a{
/*    display: block;
    padding: 5px 15px;
    color: black;
    background-color: #C0AE7F;
    text-decoration: none;*/
}

/*  -----HEADER-----  */
header{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
}

.logo{
    display: block;
    background-color: #FF9;
    margin: 5px;
    padding: 10px;
    width: 100%; 
}
.logo_img{
}
.logo_txt{
    display: block;
    /*width: 100%;*/ 
    /*flex-direction: column;*/
    color: #323232;
    text-align: center;
    line-height: 0.8;
}

.txt_nom{
    display: block;
    margin-top: auto;
    font-size: 3.5rem;
}
.txt_fonction{
    display: block;
    margin-bottom: auto;
    font-size: 1.5rem;
}

[class^="lien-"]{
    width: 100%;
    margin: 5px;
    background-color: #FF9;
    justify-content: center;
}
.lien a:hover{
    background-color: #94DFFA;
}
[class^="lien_bis"]{
    display: none;
}

header a{
    display: inline-block;
    font-size: 1.2rem;
    padding: 3px 15px;
    color: black;
    background-color: #DFF;
    text-decoration: none;
}



/*  -----SECTION-----  */

section{
    display: flex;
    flex-wrap: wrap;
}
.sec_img{
    display: none;
    margin: 5px;
    
    /*??????????????*/
    background-color: #FF0;
    width: 100%;
}
.sec_descr{
    margin: 5px;
    color: white;
    background-color: #00AEEF;
    width: 100%;
}

/*   H1 pour le referencement   */
.sec_descr h1{
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    font-weight: lighter;
    background-color: #20BFFA;
}
.sec_descr_suite{
    margin: 10px;
}

.sec_infos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section img{
    width: 100%;
    max-width: 100%;
}
.infos{
    margin: 5px;
    font-size: 1.6rem;
    color: #FFF;
    background-color: #00AEEF;
    width: 100%;
    height: auto;
}
.infos:hover{
    background-color: #20BFFA;
}
.info_B{
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #20BFFA;
    height: auto;
}

/*-------  Ecran TABLETTE -------*/
@media only screen and (min-width: 600px ){
    /* NAV */
    
    nav img{
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    nav img:hover{
        top: 0;
    }

    /* HEADER */
/*    header nav{
        background-color: #71AA00;
    }*/
    .logo_img{
        margin-bottom: 5px;
        margin-right: 0;
        width: 25%;
        flex: 1 1 auto;
    }

    .logo_txt{
        margin-top: 5px;
        margin-left: 0;
        width: 25%; 
        flex: 1 1 auto;
    }
    
    [class^="lien-"]{
        width: 30%;
        margin: 5px;
        flex: 1 1 auto;
    }
    a{
        margin: 0;
    }
    .lien_bis_img_1{
        background-color: #00AEEF;
    }
    .lien_bis_img_2{
        background-color: #71AA00;
    }
    .lien_bis_img_3{
        background-color: #F3A231;
    }
    .lien_bis_img_4{
        background-color: #404040;
    }

    .lien_bis_txt_1{
        background-color: #00A1DD; 
    }
    .lien_bis_txt_2{
        background-color: #659800; 
    }
    .lien_bis_txt_3{
        background-color: #E19323; 
    }
    .lien_bis_txt_4{
        background-color: #303030; 
    }
    
[class^="lien_bis"]{
    display: block;
}

   
    header a{
    width: 100%
    }


    /* SECTION */
    .sec_descr{
        width: 45%;
        flex: 1 1 auto;
    }
    .sec_infos{
        width: 45%;
        flex: 1 1 auto;
    }
}

/*-------  Ecran BUREAU -------*/
@media only screen and (min-width: 900px ){
    main{
        max-width: 1160px;
        margin: auto;
    }
    /* SECTION */
    .sec_img{
    display: block;
    }

}
