/*
Projet: MINISITE
JUIN 2017
HILLEWAERT Daniel
*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: #323232;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url("../img/bcg.jpg");
    padding: 10px;
}

/*  -----NAV-----      [class^="nav"]  */
nav div{
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
}
nav img{
    position: absolute;
    top: -30px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
nav img:hover{
    top: 0;
}


nav a{
/*    display: block;
    padding: 5px 15px;
    color: black;
    background-color: #C0AE7F;
    text-decoration: none;*/
}

/*  -----HEADER-----  */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.logo_img{
    order: 1;
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
    background-color: #FFF;
    width: 100%;
    text-align: center;
}

.logo_txt{
    order: 2;
    margin: 5px;
    margin-top: 0;
    padding: 10px;
    display: flex;
    width: 100%; 
    flex-direction: column;
    background-color: #FFF;
    color: #323232;
    text-align: center;
    line-height: 0.8;

}
.txt_nom{
    display: block;
    margin-top: auto;
    font-size: 3.5rem;
}
.txt_fonction{
    display: block;
    margin-bottom: auto;
    font-size: 1.5rem;
}
/*.box_liens{
    order: 3;
}*/

  /*???????? order sur plusieurs éléments*/
.lien{
    order: 3;
    width: 100%;
    margin: 5px;
}
header a{
    display: inline-block;
    font-size: 1.2rem;
    padding: 3px 15px;
    color: black;
    background-color: #FFF;
    text-decoration: none;
}



/*  -----SECTION-----  */

section{
    display: flex;
    flex-wrap: wrap;
}
.sec_img{
    /*?????????? robot google si texte dans hidden?*/
    display: none;
    margin: 5px;
    
    /*??????????????*/
    background-color: #FFF;
    width: 100%;
}
.sec_descr{
    margin: 5px;
    color: white;
    background-color: #00AEEF;
    width: 100%;
}

/*   H1 pour le referencement   */
.sec_descr h1{
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    font-weight: lighter;
    background-color: #20BFFA;
}
.sec_descr_suite{
    margin: 10px;
}

.sec_infos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section img{
    width: 100%;
    max-width: 100%;
}
.infos{
    margin: 5px;
    font-size: 1.8rem;
    color: #FFF;
    background-color: #00AEEF;
    width: 100%;
}
.infos:hover{
    background-color: #20BFFA;
}
.info_B{
    display: inline-block;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #20BFFA;
}

/*-------  Ecran TABLETTE -------*/
@media only screen and (min-width: 400px ){
    header{
    }
}

/*-------  Ecran BUREAU -------*/
@media only screen and (min-width: 700px ){
    main{
        max-width: 1160px;
        margin: auto;
    }

    header{
    }
}
