/*
Projet: MINISITE
JUIN 2017
HILLEWAERT Daniel
*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: #323232;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url("../img/bcg.jpg");
    padding: 10px;
}

/*  -----NAV-----      [class^="nav"]  */
nav div{
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #AF9ECA; /*A EFFACER*/
}

/*  -----HEADER-----  */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.logo_img{
    margin: 5px;
    background-color: #FFF;
    width: 100%;
    text-align: center;
}

.logo_txt{
    margin: 5px;
    display: flex;
    width: 100%; 
    flex-direction: column;
    background-color: #FFF;
    color: #323232;
    text-align: center;
    line-height: 0.8;

}
.txt_nom{
    display: block;
    margin-top: auto;
    font-size: 3.5rem;
}
.txt_fonction{
    display: block;
    margin-bottom: auto;
    font-size: 1.5rem;
}


header a{
    display: block;
    margin: 5px;
    width: 100%;
    background-color: #C0AE7F;
}



/*  -----SECTION-----  */

.sec{
    margin: 5px;
}

/*-------  Ecran TABLETTE -------*/
@media only screen and (min-width: 400px ){
    header{
    }
}

/*-------  Ecran BUREAU -------*/
@media only screen and (min-width: 700px ){
    main{
        max-width: 1160px;
        margin: auto;
    }

    header{
    }
}
