/*
Projet: MINISITE
JUIN 2017
HILLEWAERT Daniel
*/

/*  -----BALISES GENERALES-----  */

nav_meanmenu{
    display: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: #323232;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url("../img/bcg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #607472;
    padding: 10px;
}

.clr{
    clear: both;
}
[class^="bloc"]{
    margin: 5px 0;
}

/*  -----NAV-----  */
nav div{
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
}
nav img{
    position: absolute;
    top: 0;
}

/*  -----HEADER-----  */
.bloc_hd_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
}
[class^="bloc_hd__"]{
    display: none;
}
.logo_img{
    padding: 10px 0;
}
.logo_txt{
    text-align: center;
    line-height: 0.8;
    padding: 0 0 10px 0;
}
.txt_nom{
    font-size: 3.5rem;
}
.txt_fonction{
    font-size: 1.5rem;
}

/*  -----SECTION-----  */
section{
    display: flex;
    flex-wrap: wrap;
}
[class^="bloc_pg"]{
    width: 100%;
}

/*  -----SECTION PAGE 1-----  */
.bloc_pg_1_A{
    display: none;
    background-color: #FFF;
    text-align: center;
}

.bloc_pg_1_A img{
    max-width: 100%;
}
.bloc_pg_1_B{
    color: white;
    background-color: #00AEEF;
}
/*   H1 pour le referencement   */
.bloc_pg_1_B h1{
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    font-weight: lighter;
    background-color: #20BFFA;
}
.texte_bloc_pg_1_B{
    padding: 5px 10px;
}
.bloc_pg_1_C{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
}
.infos_bloc_pg_1_C{
    display: inline-block;
    padding: 15px 8px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #20BFFA;
}
.infos_suite_bloc_pg_1_C{
    font-size: 1.3rem;
    color: #FFF;
    background-color: #00AEEF;
    width: 100%;
    margin-top: 10px;
}
.infos_suite_bloc_pg_1_C:first-child{
    margin-top: 0;
}
.infos_suite_bloc_pg_1_C:hover{
    background-color: #20BFFA;
}
/*  -----FIN SECTION PAGE 1-----  */

/*  -----SECTION PAGE 2-----  */
[class^="bloc_pg_2"]{
    height: 180px;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}
[class^="bloc_pg_2"] a:link{
    color: #fff;
}
[class^="bloc_pg_2"] a:visited{
    color: yellow;
}
.bloc_pg_2_A{
    background-image: url(../img/our-1.jpg);
}
.bloc_pg_2_B{
    background-image: url(../img/our-2.jpg);
}
.bloc_pg_2_C{
    background-image: url(../img/our-3.jpg);
}
.bloc_pg_2_D{
    background-image: url(../img/our-4.jpg);
}
.bloc_pg_2_E{
    background-image: url(../img/our-5.jpg);
}
.bloc_pg_2_F{
    background-image: url(../img/our-7.jpg);
}
[class^="titre_bloc_pg_2"]{
    padding: 5px;
    font-size: 1.9rem;
    background-color: #64C300;
    color: #fff;
    line-height: 27px;
    height: 30px;
}
[class^="texte_bloc_pg_2"]{
    padding: 5px;
    font-size: 1.6rem;
    background-color: rgba(100, 195, 10, 0.6);
    color: #fff;
    padding-bottom: 150px;
}
[class^="transition_bloc_pg_2"]{
    padding-top: 140px;
    position: absolute;
    top: 0;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 100%;
}
.transition_bloc_pg_2_A:hover{
    top: -140px;
}
.transition_bloc_pg_2_B:hover{
    top: -140px;
}
.transition_bloc_pg_2_C:hover{
    top: -140px;
}
.transition_bloc_pg_2_D:hover{
    top: -140px;
}
.transition_bloc_pg_2_E:hover{
    top: -140px;
}
.transition_bloc_pg_2_F:hover{
    top: -140px;
}
/*  -----FIN SECTION PAGE 2-----  */

/*  -----SECTION PAGE 3-----  */
.bloc_pg_3_A{
    background-color: #E19323;
}
.bloc_pg_3_B{
    background-color: #F3A231;
}
[class^="titre_bloc_pg_3"]{
    background-color: #F3A231;
    font-size: 2.2rem;
    color: white;
    padding: 10px;
}
.experience_bloc_pg_3_A{
    color: #fff;
    padding: 10px;
}
.experience_bloc_pg_3_A p{
    margin: 5px;
}
.job_bloc_pg_3_A{
    padding-bottom: 15px;
}
.img_bloc_pg_3_A{
    float: left;
}
.date_bloc_pg_3_A{
    padding: 7px;
    margin: 10px;
    background-color: #fff;
    float: right;
    color: #000;
}
.nom_bloc_pg_3_A{
    float: left;
    padding: 0 8px;
}
.logiciel_fond_bloc_pg_3_B{
    background-color: #E19323;
    margin: 15px 10px;
}
.logiciel_bloc_pg_3_B{
    float: left;
}
.pourcentage_bloc_pg_3_B{
    float: right;
}

[class^="logiciel_bloc"]{
padding: 15px 5px;
font-size: 1.6rem;
}
[class^="prctg_bloc"]{
padding: 15px 5px;
font-size: 1.6rem;
float: right;
}
[class^="pct_"]{
    background-color: #fff;
}
.pct_autocad_fond_bloc_pg_3_B{
    width: 100%;
}
.pct_photoshop_fond_bloc_pg_3_B{
    width: 90%;
}
.pct_java_fond_bloc_pg_3_B{
    width: 80%;
}
.pct_bureautique_fond_bloc_pg_3_B{
    width: 50%;
}
.pct_Google_SketchUp_fond_bloc_pg_3_B{
    width: 75%;
}
/*  -----FIN SECTION PAGE 3-----  */

/*  -----SECTION PAGE 4-----  */
[class^="bloc_pg_4"]{
    color: #fff;
    background-color: #404040;
    padding: 10px;
}
[class^="titre_bloc_pg_4"]{
    background-color: #666;
    font-size: 2.2rem;
    color: white;
    padding: 10px;
}
bloc_pg_4_A{
    padding: 3px 3px 0 3px;
}
.nom_champ_bloc_pg_4{
    padding: 15px 5px 5px 10px;
    font-weight: bold;
}
.champ_bloc_pg_4_B{
    padding: 5px 5px 5px 10px;
}
.bouton_bloc_pg_4{
    line-height: 30px;
    padding: 2px 2px 4px 2px ;
    font-weight: bold;
    background-color: #777;
}
.bouton_bloc_pg_4:hover{
    background-color: #eee;
}

/*  -----FIN SECTION PAGE 4-----  */


/*  --===--  Ecran TABLETTE --===--  */
@media only screen and (min-width: 650px ){

    /*  -----MeanMenu-----  */
    body main aside ul{
        display: none;
    }

    /*  -----BALISES GENERALES-----  */
    [class^="bloc"]{
        margin: 5px 0.75%;
        box-sizing:border-box;    
    }

    /*  -----NAV-----  */
    nav img{
        top: -31px;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    nav img:hover{
        top: 0;
    }

    /*  -----HEADER-----  */
    header{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    [class^="bloc_hd"]{
    }

    .bloc_hd_1{
        flex: 2 1 64%;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    [class^="bloc_hd__"]{
        display: block; /* Visible */
        flex: 1 2 31%;
    }
    header a{
        text-decoration: none;
    }
    .hd_lien_haut{
        background-color: #FFF;
        color: black;
        font-size: 1.3rem;
        padding: 5px 10px;
    }
    [class^="hd_lien_centre"]{
        text-align: center;
    }
    [class^="hd_lien_bas"]{
        color: white;
        font-size: 1.2rem;
        padding: 5px 10px;
    }

    .hd_lien_centre_1{
        background-color: #00AEEF;
    }
    .hd_lien_centre_2{
        background-color: #71AA00;
    }
    .hd_lien_centre_3{
        background-color: #F3A231;
    }
    .hd_lien_centre_4{
        background-color: #404040;
    }

    .hd_lien_bas_1{
        background-color: #00A1DD; 
    }
    .hd_lien_bas_2{
        background-color: #659800; 
    }
    .hd_lien_bas_3{
        background-color: #E19323; 
    }
    .hd_lien_bas_4{
        background-color: #303030; 
    }

    .hd_lien_centre_1:hover{
        background-color: #32D3FF;
    }
    .hd_lien_centre_2:hover{
        background-color: #9ED72D;
    }
    .hd_lien_centre_3:hover{
        background-color: #FFD665;
    }
    .hd_lien_centre_4:hover{
        background-color: #6E6E6E;
    }

    /*  -----SECTION-----  */
    [class^="bloc_pg"]{
        flex-grow: 1;
    }
    [class^="bloc_pg_1"]{
        width: 48%;
    }
    [class^="bloc_pg_2"]{
        width: 48%;
    }
    [class^="bloc_pg_3"]{
        width: 100%;
    }
    [class^="bloc_pg_4"]{
        width: 100%;
    }

}

/*  --===--  Ecran BUREAU --===--  */
@media only screen and (min-width: 1000px ){

    /*  -----BALISES GENERALES-----  */
    /*  -----MAIN-----  */
    main{
        max-width: 1160px;
        margin: auto;
    }
    [class^="bloc"]{
        margin: 5px 0.5%;
    }

    /*  -----NAV-----  */
    nav img{
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    nav img:hover{
        top: 0;
    }

    /*  -----HEADER-----  */

    .bloc_hd_1{
        flex: 2 1 0;
        box-sizing: border-box;
    }
    [class^="bloc_hd__"]{
        flex: 1 2 0;
        box-sizing: border-box;
    }

    /*  -----SECTION-----  */
    .bloc_pg_1_A{
        display: block;
    }
    [class^="bloc_pg_1"]{
        flex: 1 1 32.33%;
    }
    [class^="bloc_pg_2"]{
        width: 30%;
    }

    [class^="bloc_pg_3_A"]{
        width: 62%;
    }
    [class^="bloc_pg_3_B"]{
        width: 29%;
    }

    [class^="bloc_pg_4_A"]{
        width: 90%;
    }
    [class^="bloc_pg_4_B"]{
        width: 30%;
    }
    [class^="bloc_pg_4_C"]{
        width: 60%;
    }

}
