/*
Projet: MINISITE
JUIN 2017
HILLEWAERT Daniel
*/

/*.test_background{
    margin: 100px;
    padding: 100px;
    background-color: #FFF;
    border: 20px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}*/

/*  -----BALISES GENERALES-----  */
nav_meanmenu{
    display: none;
}

._end{                           /* A supprimer */
    background-color: #E4DFFA;
    padding: 10px;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: #323232;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url("../img/bcg.jpg");
    background-size: 100% auto;
    background-color: #607472;
    padding: 10px;
}

[class^="bloc"]{
    margin: 5px 0;
}

/*  -----NAV-----  */
nav div{
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
}
nav img{
    position: absolute;
    top: 0;
}

/*  -----HEADER-----  */
.bloc_hd_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
}
[class^="bloc_hd__"]{
    display: none;
}
.logo_img{
    padding: 10px 0;
}
.logo_txt{
    text-align: center;
    line-height: 0.8;
    padding: 0 0 10px 0;
}
.txt_nom{
    font-size: 3.5rem;
}
.txt_fonction{
    font-size: 1.5rem;
}

/*  -----SECTION-----  */
section{
    display: flex;
    flex-wrap: wrap;
}
[class^="bloc_pg"]{
    width: 100%;
}

/*  -----SECTION PAGE 1-----  */
.bloc_pg_1_A{
    display: none;
    background-color: #FFF;
    text-align: center;
}

.bloc_pg_1_A img{
    max-width: 100%;
}
.bloc_pg_1_B{
    color: white;
    background-color: #00AEEF;
}
/*   H1 pour le referencement   */
.bloc_pg_1_B h1{
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    font-weight: lighter;
    background-color: #20BFFA;
}
.texte_bloc_pg_1_B{
    padding: 5px 10px;
}
.bloc_pg_1_C{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
}
.infos_bloc_pg_1_C{
    display: inline-block;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #F0BFFA;
}
.infos_suite_bloc_pg_1_C{
    font-size: 1.3rem;
    color: #FFF;
    background-color: #00AEEF;
    width: 100%;
    margin-top: 10px;
}
.infos_suite_bloc_pg_1_C:first-child{
    margin-top: 0;
}
.infos_suite_bloc_pg_1_C:hover{
    background-color: #20BFFA;
}
/*  -----FIN SECTION PAGE 1-----  */


/*  --===--  Ecran TABLETTE --===--  */
@media only screen and (min-width: 650px ){

    /*  -----MeanMenu-----  */
    body main article ul{
        display: none;
    }

    /*  -----BALISES GENERALES-----  */
    [class^="bloc"]{
        margin: 5px 0.75%;
    }

    /*  -----NAV-----  */
    nav img{
        top: -31px;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    nav img:hover{
        top: 0;
    }

    /*  -----HEADER-----  */
    header{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    [class^="bloc_hd"]{
    }

    .bloc_hd_1{
        flex: 2 1 64%;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    [class^="bloc_hd__"]{
        display: block; /* Visible */
        flex: 1 2 31%;
    }
    header a{
        text-decoration: none;
    }
    .hd_lien_haut{
        background-color: #FFF;
        color: black;
        font-size: 1.3rem;
        padding: 5px 10px;
    }
    [class^="hd_lien_centre"]{
        text-align: center;
    }
    [class^="hd_lien_bas"]{
        color: white;
        font-size: 1.2rem;
        padding: 5px 10px;
    }

    .hd_lien_centre_1{
        background-color: #00AEEF;
    }
    .hd_lien_centre_2{
        background-color: #71AA00;
    }
    .hd_lien_centre_3{
        background-color: #F3A231;
    }
    .hd_lien_centre_4{
        background-color: #404040;
    }

    .hd_lien_bas_1{
        background-color: #00A1DD; 
    }
    .hd_lien_bas_2{
        background-color: #659800; 
    }
    .hd_lien_bas_3{
        background-color: #E19323; 
    }
    .hd_lien_bas_4{
        background-color: #303030; 
    }

    .hd_lien_centre_1:hover{
        background-color: #32D3FF;
    }
    .hd_lien_centre_2:hover{
        background-color: #9ED72D;
    }
    .hd_lien_centre_3:hover{
        background-color: #FFD665;
    }
    .hd_lien_centre_4:hover{
        background-color: #6E6E6E;
    }

    /*  -----SECTION-----  */
    [class^="bloc_pg"]{
        flex-grow: 1;
    }
    [class^="bloc_pg_1"]{
        width: 40%;
    }
    [class^="bloc_pg_2"]{
        width: 40%;
    }
    [class^="bloc_pg_3"]{
        width: 100%;
    }
    [class^="bloc_pg_4"]{
        width: 100%;
    }

}

/*  --===--  Ecran BUREAU --===--  */
@media only screen and (min-width: 1000px ){

    /*  -----BALISES GENERALES-----  */
    [class^="bloc"]{
        margin: 5px 0.5%;
    }

    /*  -----MAIN-----  */
    main{
        max-width: 1160px;
        margin: auto;
    }
    
    /* SECTION */
    .sec_img{
    display: block;
    }

    /*  -----NAV-----  */
    nav img{
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    nav img:hover{
        top: 0;
    }

    /*  -----HEADER-----  */

    .bloc_hd_1{
        flex: 2 1 30%;
        box-sizing: border-box;
    }
    [class^="bloc_hd__"]{
        flex: 1 2 15%;
        box-sizing: border-box;
    }

    /*  -----SECTION-----  */
    .bloc_pg_1_A{
        display: block;
    }
    [class^="bloc_pg_1"]{
        width: 30%;
    }
    [class^="bloc_pg_2"]{
        width: 30%;
    }

    [class^="bloc_pg_3_A"]{
        width: 62%;
    }
    [class^="bloc_pg_3_B"]{
        width: 29%;
    }

    [class^="bloc_pg_4_A"]{
        width: 90%;
    }
    [class^="bloc_pg_4_B"]{
        width: 30%;
    }
    [class^="bloc_pg_4_C"]{
        width: 60%;
    }

}
