@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

body{
    background: #f0f0f0;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;

}

h1 {
    font-family: 'Arvo';
    font-weight: 700;
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.st{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
}
img{
    max-width: 100%;
}